<div class="nav">
  <img id="logo-nav" src="<%= image_path('logo.png') %>" alt="logo">
  <%= link_to "PSG", root_path, class: "none-link title-nav", id: "psg" %>
  <%= link_to "SQUAD", players_path, class: "none-link title-nav" %>
</div>
