<% if @players.any? %>
  <% @players.each do |player| %>
    <div class="player-info test" id="blue-pic" data-action="mouseover->player#hello" data-action="click->player#hello">
      <div class="info-content">
        <span class="number-design"><%= player.number %></span>
        <span class="player-name" data-id="<%= player.id %>"><%= player.first_name %> <%= player.last_name %></span>
        <img src="https://res.cloudinary.com/dnr3qh3r5/image/upload/v1690446561/blue_p2srvw.png" alt="blue paint">
      </div>
    </div>
  <% end %>
<% else %>
  <em>Sorry, no players found.</em>
<% end %>
