<%= render 'components/navbar' %>

<div id="field">
  <div class="player-list">
    <h2>Create your team</h2>

    <%# @players.each do |player| %>
      <%# <div class="moove-avatar"> %>
        <%# <%= cl_image_tag player.picture.key, crop: :thumb, gravity: :face, width: 40, height: 40, class: "avatar", alt: "avatar" %>
        <%# <span class="first-last-name"><%= player.first_name %>
      <%# </div> %>
    <%# <% end %>
  </div>
  <img id="img-field"src="https://images.photowall.com/products/44663/soccer-field.jpg?h=699&q=85" alt="soccer field">
</div>
