<%= render 'components/navbar' %>
<div id="field">
  <div class="player-list">
    <p>test</p>
  </div>
  <img src="https://images.photowall.com/products/44663/soccer-field.jpg?h=699&q=85" alt="soccer field">
</div>
