<%= render 'components/navbar' %>

<div class="flex">
  <div class="squad" data-controller="players">
    <div class="position">
      <p class="underline-hover-effect" data-action="click->players#showPlayer" data-position="goalkeeper">Goalkeepers</p>
      <p class="underline-hover-effect">Defenders</p>
      <p class="underline-hover-effect">Midfielders</p>
      <p class="underline-hover-effect">Forwards</p>
    </div>
    <div class="players" data-players-target="players">
      <%= render partial: 'player', collection: @players %>
    </div>
  </div>
  <div class="players-cards">
  </div>
</div>
