<%= render 'components/navbar' %>

<div class="flex">
  <div class="squad">
    <div class="position">
      <p>Goalkeepers</p>
      <p>Defenders</p>
      <p>Midfilders</p>
      <p>Forwards</p>
    </div>
    <div class="players-by-position">
      <p id="test">test</p>
    </div>
  </div>
  <div class="players">
  </div>
</div>
