
<%= render 'components/navbar' %>

<div class="flex" data-controller="player">
  <%= render partial: 'squad', players: @players %>
  <div class="carousel-cards" id="player-card-placeholder">
  </div>
</div>
