// Import your components CSS files here.
@import 'button';
@import 'container';
@import 'letter';
@import 'navbar';

@media (max-width: 767px) {
  .letter {
    font-size: 15em;
    height: 30vh;
  }

  .button-access {
    padding: 30px 80px;
    font-size: 0.7em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .letter {
    font-size: 24rem;
    height: 50vh;
  }

  .button-access {
    padding: 30px;
    font-size: 0.8em;
  }
}

@media (min-width: 992px) and (max-width: 1389px) {
  .button-access {
    padding: 30px;
    font-size: 1em;
  }
}
