// Import your components CSS files here.
@import 'button';
@import 'container';
@import 'letter';
@import 'navbar';
@import 'list_squad';
@import 'cards';
@import 'field';
@import 'avatar';


@media (max-width: 767px) {
  .letter {
    font-size: 15em;
    height: 30vh;
  }

  .button-access {
    padding: 30px;
    font-size: 0.5em;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .letter {
    font-size: 24rem;
    height: 50vh;
  }

  .button-access {
    padding: 30px;
    font-size: 0.8em;
  }
}

@media (min-width: 992px) and (max-width: 1389px) {
  .button-access {
    padding: 24px;
    font-size: 1em;
  }

  .position {
    font-size: 1.2em;
  }

  .players {
    font-size: 1.5em;
  }
}
