// Your external libraries
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

// Your CSS partials
@import "components/index";

.none-link {
  color: inherit;
  text-decoration: inherit;
}

body {
  background-image: url("/assets/background.png");
  background-size: cover;
  object-fit: cover;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
}

.flex {
  display: flex;
  // align-items: center;
  justify-content: space-between;
  border: solid green 1px;
  width: 90vw;
  height: 80vh;
  margin: 0 auto;
}

.squad {
  border: solid 2px red;
  width: 40vw;
}

.position {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  gap: 3em;
  font-size: 1.3em;
}

.players {
  background-image: url(https://wallpaperaccess.com/full/1612726.jpg);
  background-size: cover;
  object-fit: cover;
  border: solid 2px red;
  width: 40vw;
  background-position: center;
}

.players-by-position {
  width: 100%; /* Set the width to 100% of its container */
  height: 100%; /* Set the height to 100% of its container */

}

#test {
  background-image: url("/assets/blue.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 30vw; /* Set the width to 100% of its container */
  height: 100vh; /* Set the height to 100% of its container */
  text-align: center;
  margin: 0 auto;
}
